<header class="custom-header">
  <div class="header-inner">
    <%= link_to root_path do %>
      <%= image_tag "koreuma_logo.png", alt: "KoreUma! header logo", class: "header-logo-img" %>
    <% end %>
  </div>
</header>
