<header style="background-color: #f8f9fa; border-bottom: 1px solid #ddd;">
  <div style="text-align: center; padding: 1rem 0;">
    <%= link_to root_path do %>
      <%= image_tag 'koreuma_logo.png', alt: 'KoreUma!', style: 'max-height: 50px;' %>
    <% end %>
  </div>
</header>
