<!-- お気に入り・ブクマ＆編集削除 -->
<div class="d-flex justify-content-between align-items-center mb-2">
  <!-- お気に入り・ブクマ -->
  <div class="d-flex gap-2">
    <%= render 'posts/like_buttons', { post: post } %>
    <%= render 'posts/bookmark_buttons', { post: post } %>
  </div>

  <!-- 編集・削除（自投稿のみ表示） -->
  <% if current_user&.own?(post) %>
    <div class="d-flex gap-2">
      <%= link_to edit_post_path(post), class: "text-muted" do %>
        <i class="bi bi-pencil-fill fs-6" title="編集"></i>
      <% end %>
      <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "text-muted" do %>
        <i class="bi bi-trash-fill fs-6" title="削除"></i>
      <% end %>
    </div>
  <% end %>
</div>