<%= render 'shared/post_card', post: post do %>
  <%# タグの部分だけ %>
  <div class="tag-scroll-wrapper mb-2">
    <% post.tags.each do |tag| %>
      <%= link_to "##{tag.name}", posts_path(q: { tags_name_cont: tag.name }), class: "hashtag" %>
    <% end %>
  </div>
<% end %>
