<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row mb-4">
<%#
  <div class="col-lg-10 offset-lg-1">
    <!-- 検索フォーム -->
    <form>
      <div class="input-group mb-3"><input class="form-control" placeholder="検索ワード" type="search"/>
        <div class="input-group-append"><input type="submit" value="検索" class="btn btn-primary"/></div>
      </div>
    </form>
  </div>
%>
  <!-- 掲示板一覧 -->
    <% if @bookmark_posts.present? %>
      <div class="post-grid">
        <%= render @bookmark_posts %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>