<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row mb-4">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render 'search_form', q: @q, url: posts_path %>
    </div>
  </div>

  <!-- 投稿一覧 -->
    <% if @posts.present? %>
      <div class="post-grid">
        <%= render @posts %>
      </div>
    <% else %>
      <div class="text-center">
        <p>投稿はまだありません。</p>
      </div>
    <% end %>
  </div>
</div>
