<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <form>
        <div class="input-group mb-4">
          <input class="form-control" placeholder="検索ワード" type="search" />
          <div class="input-group-append">
            <input type="submit" value="検索" class="btn btn-outline-secondary" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 投稿グリッド一覧 -->
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="col">
        <p>投稿はまだありません。</p>
      </div>
    <% end %>
  </div>
</div>
